

#redbubble {
  background-image: url("../img/shops/redbubble1.jpg");
}
#redbubble:hover {
  background-image: url("../img/shops/redbubble2.jpg");
}

#mgl {
  background-image: url("../img/shops/mgl1.jpg");
}
#mgl:hover {
  background-image: url("../img/shops/mgl2.jpg");
}

#kofi {
  background-image: url("../img/shops/kofi1.jpg");
}
#kofi:hover {
  background-image: url("../img/shops/kofi2.jpg");
}

