body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
}

h2 {
    margin-left: 20px;
}

h3 {
    color: rgb(41, 41, 41);
    font-weight: normal;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.20);
}


#video {
    /* width: 920px; */
    max-width: 100%;
    z-index: 0;
    border-radius: 20px;
}

#topdiv {
    padding: 20px;
    padding-top: 30px;
    background-color: whitesmoke;
    /* height: 520px; */
    text-align: center;
    position:relative;
    z-index: 0;
}


#topInfo {
    max-width: 50%;
    position:absolute;
    top: 24%;
    left: 22%;
    z-index:1;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0px 5px 2px rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 20px;
}

#profile_text {
    /* max-width: 80%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}


#tabs {
    background-color: whitesmoke;
    height: 30px;
    align-items: center;
    text-align: center;
    border: solid 0px whitesmoke;
}

.pageTabs {
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: white;
    margin: 5px;
    padding: 12px;
    padding-bottom: 0;
    border-radius: 10px 10px 0 0;
    font-family: Verdana;
    font-size: 15px;
    border: solid 0px whitesmoke;
    margin-bottom: 1px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

#profile_pic {
    max-width: 20%;
    border-radius: 50%;
}

.card {
    border: solid 0px gainsboro;
    height: 300px;
    width: 160px;
    border-radius: 25px;
    margin: 5px;
    box-shadow: 0 0px 12px 2px rgba(34, 61, 95, 0.15);
    position: relative;
    /*float:left;*/
}

.cardPhoto {
    align-items: center;
    border: solid 0px gainsboro;
    height: 130px;
    width: 130px;
    border-radius: 20px;
    margin: 10% 10% 0 10%;
}

.cardHeadline {
    text-align: center;
    /* margin-left: 20px; */
    margin: 2px;
    font-weight: bold;
}

.cardDescription {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}

.linkButton {
    align-items: center;
    background-color: whitesmoke;
    border: solid 0px gainsboro;
    height: 15%;
    width: 80%;
    border-radius: 15px;
    margin: 10% 10% 0% 10%;
    position:relative;
    bottom: 15px;
    position: absolute;
    /*float: none;*/

}

.linkText {
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    font-size: 15px;
    color:black;
}

footer {
    padding: 30px;
    border: solid 0px gainsboro;
    background-color: whitesmoke;
    height: 20px;
    align-items: center;
    text-align: center;
    margin-top:40px;
}