
html, body {
    background-color: white;
    background: linear-gradient(white, white);
}

#topdiv {
    background-color: whitesmoke;
    padding-top: 10px;
    justify-content: left;
}


#goBack{
    height: 60px;
    padding: 20px;
}

.headline {
    font-size: 46px;
}

#AR_row {
    min-width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.footerEmail {
    text-align: right;
    align-items: right;
    z-index: 5;
}