body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
h1 {
    text-align: center;
}

h2 {
    margin-left: 20px;
}
h3 {

    color: rgb(41, 41, 41);
    font-weight: lighter;
}

a {
    background-color: white;
    margin: 0;
    font-family: Verdana;
    font-size: 12px;
    font-weight: lighter;
}

#topdiv {
    padding: 80px;
    padding-top: 40px;
    border: solid 0px gainsboro;
    background-color: whitesmoke;
    height: 220px;
    align-items: center;
    text-align: center;
}

#bottomDiv {
    padding: 30px;
    border: solid 0px gainsboro;
    background-color: whitesmoke;
    height: 20px;
    align-items: center;
    text-align: center;
    display: block;
    margin-top:40px;
    /*position: fixed;
    bottom: 0; */
}

#tabs {
    background-color: whitesmoke;
    border: solid 0px white;
    height: 15px;
    align-items: center;
    text-align: center;
}

.pageTabs {
    color: black;
    text-align: center;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#profile_pic {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.card {
    border: solid 0px gainsboro;
    height: 350px;
    width: 220px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 0px 12px 2px rgba(34, 61, 95, 0.15);
    /*float:left;*/
}

.cardPhoto {
    align-items: center;
    border: solid 0px gainsboro;
    height: 130px;
    width: 180px;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
}

.cardHeadline {
    margin-left: 20px;
    font-weight: bold;
}

.cardDescription {
    margin-left: 20px;
    font-size: 14px;
}

.linkButton {
    align-items: center;
    background-color: whitesmoke;
    border: solid 0px gainsboro;
    height: 60px;
    width: 180px;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    position:relative;
    bottom: -30px;
    float: none;
}

.linkText {
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}