body, html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin:0;
  }
  
.coverImg {
  background-image: url("../img/coverImg3.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  width: 80%;
  flex-shrink: 3;
}

#cards_section {
  padding: 0 2% 6% 2%;
}

.row {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.card {
  width: 30vw;
  height: 30vw;
  background-size: cover; /* contain */
  border-radius: 7px;
}

#gallery {
  background-image: url("../img/cards/gallery1.jpg");
}
#gallery:hover {
  background-image: url("../img/cards/gallery2.jpg");
}

#shops {
  background-image: url("../img/cards/shops3.jpg");
}
#shops:hover {
  background-image: url("../img/cards/shops4.jpg");
}

#comics {
  background-image: url("../img/cards/comics1.jpg");
}
#comics:hover {
  background-image: url("../img/cards/comics2.jpg");
}
#bonus {
  background-image: url("../img/cards/bonus1.jpg");
}
#bonus:hover {
  background-image: url("../img/cards/bonus2.jpg");
}
#social {
  background-image: url("../img/cards/social1.jpg");
}
#social:hover {
  background-image: url("../img/cards/social2.jpg");
}
#about {
  background-image: url("../img/cards/about1.jpg");
}
#about:hover {
  background-image: url("../img/cards/about2.jpg");
}

footer {
    padding: 30px;
    border: solid 0px gainsboro;
    background-color: whitesmoke;
    height: 5%;
    text-align: center;
}